.App {
  font-family: sans-serif;
  text-align: center;
}
.infocard__box {
  display: flex;
  justify-content: space-evenly;
}

.table {
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
}
